* {
  margin: 0;
  padding: 0; }

header {
  background-color: #5b2e0d; }
  header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    header nav #header_nav_logo {
      background-color: #905C39; }
    header nav ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin-right: 50px; }
      header nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        padding: 5px; }
      header nav ul li a:hover {
        background-color: #896A54; }
    header nav .header_nav_input {
      padding-left: 10px;
      outline: none;
      font-size: 18px;
      border-radius: 15px;
      color: black;
      border: 3px solid #896A54;
      transition: all 1s;
      width: 200px; }
    header nav .header_nav_input:focus {
      width: 400px;
      box-shadow: 0.5px 0.5px 2px black; }
    header nav .header_nav_input:hover {
      width: 400px;
      box-shadow: 0.5px 0.5px 2px black; }

#grid {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "contenedor contenedor nadaa" "navegador navegador navegador" "nada seccion son"; }
  #grid .container-fluid {
    grid-area: contenedor; }
  #grid #barras {
    grid-area: seccion; }
    #grid #barras div {
      margin-top: 10vh; }
  #grid #navegador {
    grid-area: navegador;
    position: sticky;
    top: 0; }
    #grid #navegador .navbar_color {
      background: #95592B; }
    #grid #navegador a {
      font-size: 17px; }
  #grid #redes_personales {
    width: 40vh;
    height: 15vh;
    position: relative;
    grid-area: nadaa;
    box-shadow: 0.5px 0 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5vh; }
    #grid #redes_personales div {
      width: 35vh;
      height: 4vh; }
      #grid #redes_personales div span {
        border-right: 1.5px solid brown;
        padding-right: 2px; }
      #grid #redes_personales div a {
        text-decoration: none;
        color: brown;
        font-size: 17px; }
  #grid #section41 form {
    width: 45vh;
    display: flex;
    flex-direction: column; }
    #grid #section41 form div {
      display: flex;
      justify-content: space-around;
      margin-bottom: 2vh; }
      #grid #section41 form div #edad {
        width: 10vh; }
    #grid #section41 form #mail {
      height: 5vh;
      margin: 0 1.5vh 0 1.5vh; }
    #grid #section41 form textarea {
      margin-top: 2vh; }
    #grid #section41 form button {
      margin-top: 2vh;
      margin-bottom: 2vh; }
  #grid #section42 {
    margin-bottom: 5vh; }
    #grid #section42 a {
      font-size: 25px;
      transition: all 0.5s; }
    #grid #section42 .icon-email {
      color: grey; }
    #grid #section42 .icon-whatsapp {
      color: green; }
    #grid #section42 a:hover {
      text-decoration: none; }

.flecha {
  width: 1vh;
  height: 15vh;
  position: fixed;
  top: 50%;
  right: -50px;
  transition: all 0.35s;
  overflow: hidden; }
  .flecha a {
    text-decoration: none;
    font-size: 4vh;
    color: green;
    background: #EA3131;
    border-radius: 50% 0 0 50%;
    position: fixed;
    top: 53%;
    right: 0;
    padding: 0.5vh 1.5vh 1vh 1vh;
    transition: all 0.2s; }
  .flecha .dentro {
    padding: 0 17vh 0 1vh; }
    .flecha .dentro p {
      font-size: 11px;
      margin: 0;
      padding: 0; }

.flecha:hover {
  height: 15vh;
  visibility: visible;
  overflow: hidden;
  width: 30%;
  background: white;
  box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px; }

.flecha:hover a {
  margin-right: 2vh;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.flecha a:hover {
  color: white;
  text-decoration: none; }

h2 span {
  color: brown; }

form {
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: "usuario" "completar" "enviar";
  justify-content: start;
  align-items: center;
  margin-left: 2%; }
  form input {
    grid-area: usuario;
    transition: all 1s; }
  form input:focus {
    width: 400px;
    font-size: 20px; }
  form textarea {
    grid-area: completar; }
  form button {
    grid-area: enviar; }

h2 {
  animation-duration: 2s;
  animation-name: aparecer;
  margin: 3% 0 3% 0; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

main #main_destacados {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  main #main_destacados .main_destacados_cajas {
    width: 20%;
    height: 20%; }
  main #main_destacados div {
    text-align: center;
    transition: all 0.5s; }
    main #main_destacados div a {
      text-decoration: none;
      color: black; }
      main #main_destacados div a p {
        display: none;
        border: 1px solid;
        letter-spacing: 0.5px;
        width: 20%;
        text-align: left;
        padding: 10px;
        background-color: #f7f7f7;
        box-shadow: 0px 0px 5px black;
        text-indent: 5px; }
      main #main_destacados div a img:hover {
        transition: all 0.5s;
        transform: scale(1.03, 1.03); }
    main #main_destacados div a:hover p {
      display: block;
      position: absolute; }
    main #main_destacados div a:hover div {
      color: blue;
      font-size: 17px; }

main .main_buscados {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 5% 0 0 2%; }
  main .main_buscados table {
    width: 80%; }
    main .main_buscados table thead {
      text-align: center; }
    main .main_buscados table .anchoMedioTabla {
      width: 45%; }

main form {
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: "usuario" "completar" "enviar";
  justify-content: start;
  align-items: center;
  margin-left: 2%; }
  main form input {
    grid-area: usuario;
    transition: all 1s; }
  main form input:focus {
    width: 400px;
    font-size: 20px; }
  main form textarea {
    grid-area: completar; }
  main form button {
    grid-area: enviar; }

footer {
  height: 30vh; }
  footer .saliente {
    width: 1vh;
    height: 50%;
    position: relative;
    top: -30vh;
    transition: all 1s;
    overflow: hidden;
    background-color: #633F23;
    border-radius: 5px; }
    footer .saliente h5, footer .saliente p {
      margin-left: 1vh; }
    footer .saliente h5 {
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.1); }
    footer .saliente p {
      font-size: 12px; }
  footer .saliente:hover {
    width: 40%;
    height: 50%;
    overflow: hidden;
    background: white;
    border-radius: 0 15px 15px 0; }
  footer #footer {
    height: 30vh;
    width: 100%;
    color: white;
    background-color: #5b2e0d;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 10fr 4fr 1fr;
    grid-template-areas: "vacio titulo imagen vacioo" "vacio logo imagen vacioo" "vacio texto publi vacioo"; }
    footer #footer h4 {
      grid-area: titulo;
      align-self: end; }
    footer #footer .publi {
      display: flex;
      flex-direction: row;
      grid-area: publi; }
      footer #footer .publi li {
        margin-left: 1vh; }
      footer #footer .publi a {
        text-decoration: none;
        color: white; }
    footer #footer p {
      grid-area: texto; }
    footer #footer .imagenes {
      grid-area: imagen;
      align-self: center; }
    footer #footer .logo {
      grid-area: logo;
      align-self: center; }
      footer #footer .logo a {
        font-size: 35px;
        color: white;
        border-radius: 50%;
        transition: all 0.5s;
        padding: 5px; }
      footer #footer .logo a:hover {
        background: rgba(0, 0, 0, 0.3); }
      footer #footer .logo a:link {
        text-decoration: none; }
