* {
  margin: 0;
  padding: 0; }

header {
  background-color: #7C3679;
  position: relative;
  width: 100%; }
  header nav {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    header nav #header_nav_logo {
      background-color: #975694; }
    header nav #header_nav_logo img{
    


      width: 25vh;
      height: 10vh
        
    }
    header nav ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0 1.5vh 0 0;
      position: absolute;
      right: 2vh; }
      header nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 3vh;
        padding: 1vh; }
      header nav ul li a:hover {
        background-color: #975694;
        border-radius: 1vh;
        text-decoration: none;
        color: white; }
      header nav ul #registrate {
        border: solid 2.5px #473648;
        font-size: 3.2vh;
        border-radius: 1vh;
        margin-left: 1vh;
        transition: all 0.2s; }
      header nav ul #registrate:hover {
        font-size: 3.21vh;
        text-decoration: underline; }
    header nav .header_nav_input {
      padding-left: 10px;
      outline: none;
      font-size: 2.7vh;
      border-radius: 2vh;
      color: black;
      border: 0.5vh solid #975694;
      transition: all 1s;
      width: 30vh; }
    header nav .header_nav_input:focus {
      width: 60vh;
      box-shadow: 0.5px 0.5px 2px black; }
    header nav .header_nav_input:hover {
      width: 60vh;
      box-shadow: 0.5px 0.5px 2px black; }

main section #inicio_posicion {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  grid-template-columns: auto 3fr 3fr 1fr;
  grid-template-areas: "vacios logoytitulo logoytitulo nadas"
 "demo masbuscados masbuscados nadas"
 "vacio1 vacio2 vacio2 nadas"
 "vacio1 banner banner nadas"; }
  main section #inicio_posicion .logo_y_titulo {
    grid-area: logoytitulo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%; }
    main section #inicio_posicion .logo_y_titulo img {
      width: 25vh;
      height: 25vh; }
    main section #inicio_posicion .logo_y_titulo h1 {
      color: #473648; }
  main section #inicio_posicion #demo {
    grid-area: vacios;
    width: 35vh;
    height: 35vh;
    margin: 0.5vh;
    box-shadow: 0 0 2vh rgba(0,0,0,0.4);
    background-color: red; }
    main section #inicio_posicion #demo h3, main section #inicio_posicion #demo p {
      color: black;
      font-size: 2.5vh; }
  main section #inicio_posicion .mas_buscados {
    grid-area: masbuscados;
    justify-self: center;
    border: solid 0.5vh rgba(0, 0, 0, 0.01);
    height: 8vh; }
    main section #inicio_posicion .mas_buscados h6 {
      font-size: 2vh; }
    main section #inicio_posicion .mas_buscados a {
      font-size: 2vh;
      text-decoration: none;
      margin-right: 1vh; }
    main section #inicio_posicion .mas_buscados a:hover {
      text-decoration: none; }
    main section #inicio_posicion .mas_buscados button {
      border-radius: 1vh;
      border: solid 0.2vh rgba(0, 0, 0, 0.1);
      overflow: hidden;
      font-size: 2vh;
      padding: 0.1vh;
      color: rgba(0, 0, 0, 0.7);
      margin-left: 2vh; }
    main section #inicio_posicion .mas_buscados .mas_buscados_alineacion {
      display: flex;
      align-items: center; }
  main section #inicio_posicion .banner {
    grid-area: banner;
    margin: 1vh;
    height: 32vh; 
    width: 80%;
    justify-self: center; }
    main section #inicio_posicion .banner img {
      width: 100%;
      height: 100%; }
    main section #inicio_posicion .banner #dentro {
      width: 80%;
      height: 100%;
      position: relative;
      top: -32vh;
      left: 0px;
      background-color: rgba(0, 0, 0, 0.02);
      opacity: 0;
      visibility: hidden;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "titulo"
 "vacio"
 "texto";
      color: white; }
      main section #inicio_posicion .banner #dentro h3 {
        grid-area: titulo;
        color: black;
        margin: 1vh;
        font-size: 2vh; }
      main section #inicio_posicion .banner #dentro p {
        grid-area: texto;
        padding: 2vh;
        color: rgba(9,9,9,9);
        font-size: 2vh; }
  main section #inicio_posicion .banner:hover #dentro {
    opacity: 1;
    visibility: visible;
    border-radius: 5vh; }

main .categorias_imagenes_posicion {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  main .categorias_imagenes_posicion .categorias_imagenes_pie {
    text-align: center;
    width: 50vh; }
    main .categorias_imagenes_posicion .categorias_imagenes_pie img {
      width: 50%;
      height: 40%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 1vh; }
    main .categorias_imagenes_posicion .categorias_imagenes_pie p {
      font-size: 3vh; }

main .secciones_titulos {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #ECD054, yellow);
  margin: 3vh 0 3vh 0; }
  main .secciones_titulos h1 {
    color: black;
    padding: 2vh;
    font-size: 6vh; }

main #nosotros_grid {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "contenedor contenedor nadaa"
 "navegador navegador navegador"
 "nada seccion son"; }
  main #nosotros_grid .container-fluid {
    grid-area: contenedor; }
  main #nosotros_grid #barras {
    grid-area: seccion; }
    main #nosotros_grid #barras div {
      margin-top: 10vh; }
  main #nosotros_grid #navegador {
    grid-area: navegador;
    position: sticky;
    top: 0;
    width: 60%;
    box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.5); }
    main #nosotros_grid #navegador .navbar_color {
      background: #975694; }
    main #nosotros_grid #navegador a {
      font-size: 2.4vh; }
  main #nosotros_grid #redes_personales {
    width: 40vh;
    height: 15vh;
    position: relative;
    grid-area: nadaa;
    box-shadow: 0.5px 0 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5vh; }
    main #nosotros_grid #redes_personales div {
      width: 35vh;
      height: 4vh; }
      main #nosotros_grid #redes_personales div span {
        border-right: 1.5px solid brown;
        padding-right: 2px;
        font-size: 2vh; }


      main #nosotros_grid #redes_personales div a {
        text-decoration: none;
        color: brown;
        font-size: 2.5vh; }
        main #nosotros_grid .container-fluid h1{
          font-size: 5vh;
        }
        main #nosotros_grid .container-fluid p{
          font-size: 2.5vh;
        }
  main #nosotros_grid #section41 form {
    width: 45vh;
    display: flex;
    flex-direction: column;
    margin-left: 2vh; }
    main #nosotros_grid #section41 form div {
      margin: 0 0 1vh 0; }
      main #nosotros_grid #section41 form input, label {
      font-size: 2.4vh; }
      main #nosotros_grid #section41 form legend {
      font-size: 3.2vh; }
      main #nosotros_grid #section41 form div #edad {
        width: 10vh;
        font-size: 2.4vh; }
      main #nosotros_grid #section41 form div #mail {
        height: 5vh;
        font-size: 2.4vh; }

    main #nosotros_grid #section41 form textarea {
      margin-top: 2vh; }
    main #nosotros_grid #section41 form button {
      margin-top: 2vh;
      margin-bottom: 2vh; }
  main #nosotros_grid #section42 {
    margin-bottom: 5vh; }
    main #nosotros_grid #section42 a {
      font-size: 3vh;
      transition: all 0.5s; }
    main #nosotros_grid #section42 .icon-email {
      color: grey; }
    main #nosotros_grid #section42 .icon-whatsapp {
      color: green; }
    main #nosotros_grid #section42 a:hover {
      text-decoration: none; }

main #dudas_formulario h2 span {
  color: brown; }
main #dudas_formulario h2 {
  font-size: 5vh; }
main #dudas_formulario form {
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: "usuario"
 "completar"
 "enviar";
  justify-content: start;
  align-items: center;
  margin-left: 2%; }
  main #dudas_formulario form input {
    grid-area: usuario;
    transition: all 1s; }
  main #dudas_formulario form input:focus {
    width: 50vh;
    font-size: 3vh; }
  main #dudas_formulario form textarea {
    grid-area: completar; }
  main #dudas_formulario form button {
    grid-area: enviar; }

h2 {
  animation-duration: 2s;
  animation-name: aparecer;
  margin: 3% 0 3% 0; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.flecha {
  width: 1vh;
  height: 15vh;
  position: fixed;
  top: 50%;
  right: -50px;
  transition: all 0.35s;
  overflow: hidden; }
  .flecha a {
    text-decoration: none;
    font-size: 4vh;
    color: white;
    background: #975694;
    border-radius: 50% 0 0 50%;
    position: fixed;
    top: 53%;
    right: 0;
    padding: 0.5vh 1.5vh 1vh 1vh;
    transition: all 0.2s; }
  .flecha .dentro {
    padding: 0 17vh 0 1vh; }
    .flecha .dentro p {
      font-size: 1.6vh;
      margin: 0;
      padding: 0; }

.flecha:hover {
  height: 15vh;
  visibility: visible;
  overflow: hidden;
  width: 30%;
  background: white;
  box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px; }

.flecha:hover a {
  margin-right: 2vh;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.flecha a:hover {
  color: white;
  text-decoration: none; }

footer {
  height: 30vh; }
  footer .saliente {
    width: 1vh;
    height: 50%;
    position: relative;
    top: -30vh;
    transition: all 1s;
    overflow: hidden;
    background-color: #975694;
    border-radius: 5px; }
    footer .saliente h5, footer .saliente p {
      margin-left: 1vh; }
    footer .saliente h5 {
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.1); }
    footer .saliente p {
      font-size: 12px; }
  footer .saliente:hover {
    width: 40%;
    height: 50%;
    overflow: hidden;
    background: white;
    border-radius: 0 15px 15px 0; }
  footer #footer {
    height: 30vh;
    width: 100%;
    color: white;
    background-color: #7C3679;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 10fr 4fr 1fr;
    grid-template-areas: "vacio titulo imagen vacioo"
 "vacio logo imagen vacioo"
 "vacio texto publi vacioo"; }
    footer #footer h4 {
      grid-area: titulo;
      align-self: end;
      font-size: 4vh; }
    footer #footer .publi {
      display: flex;
      flex-direction: row;
      grid-area: publi; }
      footer #footer .publi li {
        margin-left: 1vh;
        font-size: 2.2vh; }
      footer #footer .publi a {
        text-decoration: none;
        color: white;
        font-size: 2.2vh; }
    footer #footer p {
      grid-area: texto;
      font-size: 2.2vh; }
    footer #footer .imagenes {
      grid-area: imagen;
      align-self: center; }
      footer #footer .imagenes #logo_tamanio {
        width: 33vh;
        height: 12vh; }
      footer #footer .imagenes #footer_imagen_tamanio {
        width: 11vh;
        height: 11vh; }
    footer #footer .logo {
      grid-area: logo;
      align-self: center; }
      footer #footer .logo a {
        font-size: 5vh;
        color: white;
        border-radius: 50%;
        transition: all 0.5s;
        padding: 5px; }
      footer #footer .logo a:hover {
        background: rgba(0, 0, 0, 0.3); }
      footer #footer .logo a:link {
        text-decoration: none; }