* {
  margin: 0;
  padding: 0; }

header {
  background-color: #5b2e0d;
  position: relative; }
  header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    header nav #logoInicio {
      background-color: #905C39; }
    header nav ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin-right: 3%; }
      header nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        padding: 5px; }
      header nav ul li a:hover {
        background-color: #896A54; }
    header nav .img {
      padding-left: 10px;
      outline: none;
      font-size: 18px;
      border-radius: 15px;
      color: black;
      border: 3px solid #896A54;
      transition: all 1s;
      width: 200px; }
    header nav .img:focus {
      width: 400px;
      box-shadow: 0.5px 0.5px 2px black; }
    header nav .img:hover {
      width: 400px;
      box-shadow: 0.5px 0.5px 2px black; }

main h2 span {
  color: brown; }

main form {
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: "usuario" "completar" "enviar";
  justify-content: start;
  align-items: center;
  margin-left: 2%; }
  main form input {
    grid-area: usuario;
    transition: all 1s; }
  main form input:focus {
    width: 400px;
    font-size: 20px; }
  main form textarea {
    grid-area: completar; }
  main form button {
    grid-area: enviar; }

footer {
  height: 30vh; }
  footer .saliente {
    width: 1vh;
    height: 50%;
    position: relative;
    top: -28vh;
    transition: all 1s;
    overflow: hidden;
    background-color: #633F23;
    border-radius: 5px; }
    footer .saliente h5, footer .saliente p {
      margin-left: 1vh; }
    footer .saliente h5 {
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.1); }
    footer .saliente p {
      font-size: 12px; }
  footer .saliente:hover {
    width: 40%;
    height: 50%;
    overflow: hidden;
    background: white;
    border-radius: 0 15px 15px 0; }
  footer #footer {
    width: 100%;
    height: 30vh;
    position: relative;
    color: white;
    background-color: #5b2e0d;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 10fr 4fr 1fr;
    grid-template-areas: "vacio titulo imagen vacioo" "vacio logo imagen vacioo" "vacio texto publi vacioo"; }
    footer #footer h4 {
      grid-area: titulo;
      align-self: end; }
    footer #footer .publi {
      display: flex;
      flex-direction: row;
      grid-area: publi; }
      footer #footer .publi li {
        margin-left: 1vh; }
      footer #footer .publi a {
        text-decoration: none;
        color: white; }
    footer #footer p {
      grid-area: texto; }
    footer #footer .imagenes {
      grid-area: imagen;
      align-self: center; }
    footer #footer .logo {
      grid-area: logo;
      align-self: center; }
      footer #footer .logo a {
        font-size: 35px;
        color: white;
        border-radius: 50%;
        transition: all 0.5s;
        padding: 5px; }
      footer #footer .logo a:hover {
        background: rgba(0, 0, 0, 0.3); }
      footer #footer .logo a:link {
        text-decoration: none; }
